.link {
  text-decoration: none;
  color: #1d5fa7;
  font-weight: 500;
  transition: all 0.2s ease;
  padding-bottom: 2px;
}

.link:hover {
  color: #0958d9;
}

.active {
  color: #0958d9;
  border-bottom: 2px solid #0958d9;
}
